vti_encoding:SR|utf8-nl
http\://home.sol.no/guestbook.cgi/guestwrite(loekseth):meny.htm
mailto\:smurf_ine@hotmail.com:guestbook.html
nei:guestbook.html
http\://srm.net/skoleside/:linker.htm
mailto\:gussiaas@online.no:guestbook.html
mailto\:pkgagnat@.online.no:guestbook.html
mmind.zip:mmind.htm
mailto\:bhaukebo@online.no:guestbook.html
mailto\:akaune@online.no:guestbook.html
http\://home.sol.no/pkgagnat:guestbook.html
nope:guestbook.html
mailto\:slikk@ei*itte.no:guestbook.html
http\://www.boxman.no:linker.htm
ikke enda:guestbook.html
volum.zip:volum.htm
ik.zip:ik.htm
mailto\:jan.gundersen@trondernett.no:guestbook.html
http\://home.sol.no/~idarog/home.htm:guestbook.html
skole.gif:linker.htm
http\://www.himolde.no:meg.htm
http\://home.sol.no/~idarog/lars.jpg:guestbook.html
/cgi-bin/count.cgi:hoved.htm
mailto\:lhaukoe@online.no:guestbook.html
idioten.zip:idioten.htm
fk.zip:fk.htm
mailto\:eloekset@online.no:meny.htm
http\://www.winamp.com/:linker.htm
ftp\://ftp.microsoft.com/softlib/mslfiles/msvbvm50.exe:sopno.htm
skolesider.zip:skolesider.htm
idioten_install.zip:idioten.htm
http\://www.angelfire.com/id/ulsbergnett/:guestbook.html
http\://home.vestfoldnett.no/andrean/stiloppg/:linker.htm
winamp.gif:linker.htm
